<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Sissors</title>
    <link href='http://fonts.googleapis.com/css?family=Luckiest+Guy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="initial-scale=1">
    <script src="jquery.js"></script>
  </head>
  <body>
    <header>
      <h1>Rock Paper Scissors</h1>
    </header>
    <main>
      <section>
        <artical id="Rock" data-position-in-gestures-array=0><img src="rock.svg"></artical>
        <artical id="Paper" data-position-in-gestures-array=1>    <img src="paper.svg">   </artical>
        <artical id="Scissors" data-position-in-gestures-array=2> <img src="sissors.svg"> </artical>
      </section>
    </main>
    <audio id="wizzBop">
      <source src='wizzBop.wav'>
      <source src='wizzBop.mp3'>
    </audio>
    <audio id="singSong">
      <source src='singSong.wav'>
      <source src='singSong.mp3'>
    </audio>
    <audio id="woofWoof">
      <source src='woofWoof.wav'>
      <source src='woofWoof.mp3'>
    </audio>

    
    <script src="RockPaperSiss.js"></script>
    <script>
    $(document).on('ready', function(){

      var gestures = [new Rock, new Paper, new Scissors];
      var pickRandom = function(){
        return (Math.floor(Math.random()*3)+1)-1
      }
      var result;

      var get_ai_gesture = function() {
        return gestures[pickRandom()]
      };
      
      var flashMessage = function(result) {
        if( result) $('header h1').text("Win" )
        if(!result) $('header h1').text("Lose")
        if(result === 'Draw') $('header h1').text(result);
        setTimeout(function(){
           $('header h1').text("Rock Paper Scissors")
        },1500)
      };

      var flashAnimation = function(gesture) {
        $('artical').fadeTo(0,0.5);
        $('#'+gesture.id).fadeTo(0,1).toggleClass('win');
        setTimeout(function() {
          $('#'+gesture.id).toggleClass('win');
          $('artical').fadeTo(0.5,1);
        }, 1500)
      };

      var flashAudio = function(result) {
        if(result === true  ) $('#singSong').get(0).play();
        if(result === false ) $('#woofWoof').get(0).play();
        if(result === 'Draw') return
      }
    
      $('artical').click(function(){
        var my_gesture = gestures[$(this).data('position-in-gestures-array')];
        var ai_gesture = get_ai_gesture();
        var result = my_gesture.against(ai_gesture);
        flashAnimation($(this).get(0));
        flashAudio(result);
        flashMessage(result);
      })

    });
    </script>
  </body>
</html>